// --------------------------------------------------------
// COLORS

$primary-color:             theme('colors.primary.200');
$primary-color-lighter:     theme('colors.primary.100');
$primary-color-darker:      theme('colors.primary.900');

$secondary-color:           theme('colors.secondary.200');
$secondary-color-lighter:   theme('colors.secondary.100');
$secondary-color-darker:    theme('colors.secondary.700');