<head>
  <title>Paula Stoll</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="">
  <meta name="author" content="Paula Stoll">
  <meta name="description" content="">
  <meta name="publisher" content="Paula Stoll">
  <meta name="copyright" content="Paula Stoll">
  <meta name="owner" content="Paula Stoll">
  <meta name="geo.region" content="">
  <meta name="geo.placename" content="">
  <meta name="geo.position" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta name="twitter:card" content="summary_large_image">
  <noscript>This app works best with JavaScript enabled.</noscript>
</head>