<section class="imprint">
  <div class="container">
    <div class="flex flex-col lg:flex-row">
      <div class="w-full lg:w-1/3">
        <div class="lg:border-secondary-400 lg:border-r pt-20">
          <p>
            Paula Stoll<br>
            Skalitzer Str. 6<br>
            10999 Berlin<br>
            Germany
          </p>
          <ul class="list --words">
            <li><i>e</i> mail@paulastoll.com</li>
          </ul>
        </div>
      </div>
      <div class="w-full lg:w-2/3 mt-8 lg:mt-0 lg:pl-20 py-20">
        <h2 id="information-according-to-§-5-tmg">Information according to § 5 TMG</h2>
        <p>
          Paula Stoll<br>
          Skalitzer Str. 6<br>
          10999 Berlin<br>
        </p>
        <h2 id="contact">Contact</h2>
        <p>Telephone: <em>Can be requested by e-mail</em><br>
        E-mail: mail@paulastoll.com</p>
        <h2 id="dispute-resolution">Dispute resolution</h2>
        <p>The European Commission provides a platform for online dispute resolution (OS):
        <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="nofollow noopener noreferrer">https://ec.europa.eu/consumers/odr</a>
        You can find our e-mail address in the imprint above.
        We are not willing or obliged to participate in dispute resolution proceedings before a consumer mediation body.</p>
        <h3 id="liability-for-content">Liability for content</h3>
        <p>As a service provider we are responsible according to § 7 Abs.1 TMG for our own contents on these pages according to the general laws.
        According to §§ 8 to 10 TMG, we are not obliged to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity.
        Obligations to remove or block the use of information in accordance with general laws remain unaffected by this.
        However, liability in this respect is only possible from the time of knowledge of a concrete violation of the law. As soon as we become aware of such infringements, we will remove the content immediately.</p>
        <h3 id="liability-for-links">Liability for links</h3>
        <p>Our offer contains links to external websites of third parties on whose contents we have no influence.
        Therefore, we cannot assume any liability for these external contents.
        The respective provider or operator of the pages is always responsible for the contents of the linked pages.
        The linked pages were checked for possible legal infringements at the time of linking.
        Illegal contents were not recognisable at the time of linking.</p>
        <p>A permanent control of the contents of the linked pages is not reasonable without concrete evidence of an infringement.
        As soon as we become aware of any legal infringements, we will remove such links immediately.</p>
        <h3 id="copyright">Copyright</h3>
        <p>The contents and works on these pages created by the site operators are subject to German copyright law.
        Duplication, processing, distribution and any form of commercialization of such material beyond the scope of the copyright law shall require the prior written consent of its respective author or creator.
        Downloads and copies of these pages are only permitted for private, non-commercial use.
        Insofar as the content on this site was not created by the operator, the copyrights of third parties are respected.
        In particular, contents of third parties are marked as such. Should you nevertheless become aware of a copyright infringement, please inform us accordingly.
        As soon as we become aware of any infringements of the law, we will remove such content immediately.</p>

        <h3>Creator of this website</h3>
        <div class="flex">
          <div class="md:w-3/4 lg:w-5/6">
            <p><i>Michael Czechowski</i> designed and programmed this piece of Internet. I thank him very much for his efforts, patience and technical vision. He is a <a href="https://dailysh.it">Designer, Philosopher and Consultant based in Berlin and Stuttgart</a>. He enriches the community with his <a href="https://dailysh.it">creative programming</a>.</p>
          </div>
          <div class="md:w-1/4 lg:w-1/6 pl-3">
            <object data="./src/assets/nls.svg" type="image/svg+xml" class="w-full"></object>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>