<section class="first-impression">
  <div class="bg">
    <div class="bg__inner" style="background-image: url('./src/assets/images/roland-1.png')"></div>
    <div class="bg__inner --active" style="background-image: url('./src/assets/images/roland-2.png')"></div>
    <div class="bg__inner" style="background-image: url('./src/assets/images/roland-3.png')"></div>
  </div>
  <div class="container">
    <div class="display" id="display">
      <h1>Paula Stoll</h1>
      <p>Documentary director</p>
    </div>
  </div>
</section>